<div class= 'container'>
  <div class='py-5 title home-item'>
    <%= image_tag ('title.png'), width: '100%', class: 'py-5' %>
    <p class='text-center'>ブリの群れからヒラマサを探すゲーム<p/>
  </div>
  <div class='py-5 select-btn home-item'>
    <div class='row text-center'>
      <div class='col-6 pb-5'>
        <%= link_to '緩流(やさしい)', play_level1_path, class: 'btn btn-primary' %>
      </div>
      <div class='col-6 pb-5'>
        <%= link_to '激流(むずかしい)', play_level2_path, class: 'btn btn-primary' %>
      </div>
      <div class='col-12'>
        <button type='button' class='btn btn-info' id='look-into-sea' >海の中をのぞく</button>
      </div>
    </div>
  </div>
  <div class='back-btn d-flex justify-content-center col-12 hidden'>
    <button type='button' class='btn btn-danger' >タイトルに戻る</button>
  </div>
  <%= image_tag ('buri.png'), size: '175x50', id: 'buri', class: 'left-start fish' %>
  <%= image_tag ('squid.png'), size: '130x70', id: 'squid', class: 'fish' %>
  <%= image_tag ('red_fish.png'), size: '130x70', id: 'red-fish', class: 'right-start fish' %>
  <%= image_tag ('eye_fish.png'), size: '100x50', id: 'eye-fish', class: 'right-start fish' %>
  <%= image_tag ('aji.png'), size: '140x50', id: 'aji', class: 'right-start fish' %>
  <%= image_tag ('octopus.png'), size: '130x70', id: 'octopus', class: 'fish' %>
</div>

<%= javascript_pack_tag 'home/move_fish' %>
<%= javascript_pack_tag 'home/look_into_sea' %>