<% content_for(:html_title) { 'ヒラマサを探せ! | 緩流' } %>

<div class='container-fluid'>
  <div>
    <%= image_tag 'tap_on_hiramasa.png', size: '220x110', id: 'man', class: 'float-end' %>
    <%= image_tag 'that_is_buri.png', size: '220x110', id: 'angry', class: 'float-end',style: 'display: none;' %>
    <%= image_tag 'that_is_buri2.png', size: '220x110', id: 'angry2', class: 'float-end',style: 'display: none;' %>
  </div>
  <div class='container'>
    <%= image_tag 'hiramasa.png', size: '175x50', id: 'hiramasa', class: 'fish' %>
    <%= image_tag 'buri.png', size: '175x50', id: 'buri', class: 'fish buri' %>
    <%= image_tag 'buri.png', size: '175x50', id: 'buri', class: 'fish buri' %>
    <%= image_tag 'buri.png', size: '175x50', id: 'buri', class: 'fish buri' %>
    <%= image_tag 'buri.png', size: '175x50', id: 'buri', class: 'fish buri' %>
    <%= image_tag 'buri.png', size: '175x50', id: 'buri', class: 'fish buri' %>
    <%= image_tag 'buri.png', size: '175x50', id: 'buri', class: 'fish buri' %>
    <%= image_tag 'buri.png', size: '175x50', id: 'buri', class: 'fish buri' %>
    <%= image_tag 'buri.png', size: '175x50', id: 'buri', class: 'fish buri' %>
    <%= image_tag 'red_fish_left.png', size: '175x70', id: 'buri', class: 'fish buri' %>
    <%= image_tag 'aji_left.png', size: '100x40', id: 'buri', class: 'fish buri' %>
    <%= image_tag 'sawara_left.png', size: '175x90', id: 'buri', class: 'fish buri' %>
    <%= image_tag 'aji_left.png', size: '100x40', id: 'buri', class: 'fish buri' %>
    <%= image_tag 'sawara_left.png', size: '175x90', id: 'buri', class: 'fish buri' %>
    <%= render 'modal' %>
  </div>

  <%= javascript_pack_tag 'level1/move_fish' %>
  <%= javascript_pack_tag 'level1/tweet' %>
</div>