<div class='container-fluid'>
  <div>
    <%= image_tag 'tap_on_hiramasa.png', size: '270x130', id: 'man', class: 'float-end' %>
    <%= image_tag 'that_is_buri.png', size: '270x130', id: 'angry', class: 'float-end',style: 'display: none;' %>
    <%= image_tag 'that_is_buri2.png', size: '270x130', id: 'angry2', class: 'float-end',style: 'display: none;' %>
  </div>
  <div class='container'>
    <%= image_tag 'hiramasa.png', size: '175x50', id: 'hiramasa', class: 'fish' %>
    <%= image_tag 'buri.png', size: '175x50', id: 'buri', class: 'fish buri' %>
    <%= image_tag 'buri.png', size: '175x50', id: 'buri', class: 'fish buri' %>
    <%= image_tag 'buri.png', size: '175x50', id: 'buri', class: 'fish buri' %>
    <%= image_tag 'buri.png', size: '175x50', id: 'buri', class: 'fish buri' %>
    <%= image_tag 'buri.png', size: '175x50', id: 'buri', class: 'fish buri' %>
    <%= image_tag 'buri.png', size: '175x50', id: 'buri', class: 'fish buri' %>
    <%= image_tag 'buri.png', size: '175x50', id: 'buri', class: 'fish buri' %>
    <%= image_tag 'buri.png', size: '175x50', id: 'buri', class: 'fish buri' %>
    <%= image_tag 'buri.png', size: '175x50', id: 'buri', class: 'fish buri' %>
    <%= image_tag 'buri.png', size: '175x50', id: 'buri', class: 'fish buri' %>
    <%= image_tag 'buri.png', size: '175x50', id: 'buri', class: 'fish buri' %>
    <%= image_tag 'buri.png', size: '175x50', id: 'buri', class: 'fish buri' %>
    <%= image_tag 'buri.png', size: '175x50', id: 'buri', class: 'fish buri' %>
    <%= image_tag 'buri.png', size: '175x50', id: 'buri', class: 'fish buri' %>
    <%= image_tag 'buri.png', size: '175x50', id: 'buri', class: 'fish buri' %>
    <%= image_tag 'buri.png', size: '175x50', id: 'buri', class: 'fish buri' %>
    <%= image_tag 'buri.png', size: '175x50', id: 'buri', class: 'fish buri' %>
    <%= image_tag 'buri.png', size: '175x50', id: 'buri', class: 'fish buri' %>
    <%= image_tag 'buri.png', size: '175x50', id: 'buri', class: 'fish buri' %>
    <%= image_tag 'buri.png', size: '175x50', id: 'buri', class: 'fish buri' %>
    <%= image_tag 'buri.png', size: '175x50', id: 'buri', class: 'fish buri' %>
    <%= image_tag 'buri.png', size: '175x50', id: 'buri', class: 'fish buri' %>
    <%= image_tag 'buri.png', size: '175x50', id: 'buri', class: 'fish buri' %>
    <%= image_tag 'buri.png', size: '175x50', id: 'buri', class: 'fish buri' %>
    <%= image_tag 'buri.png', size: '175x50', id: 'buri', class: 'fish buri' %>
    <%= render 'modal' %>
  </div>

  <%= javascript_pack_tag 'level2/move_fish' %>
</div>